# .gitignore - QDicom Utilities
#
# SPDX-FileCopyrightText: Copyright (C) 2021 Frank C Langbein <frank@langbein.org>, Cardiff University
# SPDX-License-Identifier: AGPL-3.0-or-later
*.pyc
__pycache__
scans
data
test
